<% content_for :header_actions do %>
  <%= link_to "New List", new_todo_list_path, class: "add" %>
<% end %>

<ul id="lists">
  <% @todo_lists.each do |list| %>
  	<li class="<%= list_status_class(list) %>" >
      <%= link_to list do %>
       	<h2><%= list.name %></h2>
       	<p><%= list.completed_todos_count %>/<%= list.todo_items.size %></p>
      <% end %>
    </li>
  <% end %>
</ul>
