<% content_for :header_actions do %>
  <%= link_to "All Lists", root_url, class: "list" %>
<% end %>

<section id="todos" class="">	
		<header>
			<h2><%= @todo_list.name %></h2>
			<ul>
				<li>
					<form action="/lists//complete_all" method="POST">
						<button class="check" type="submit">Complete All</button>
					</form>
				</li>	
				<li>
				  <%= link_to "Edit list", edit_todo_list_path(@todo_list), class: "edit" %>
				</li>
			</ul>
		</header>

		<ul>
			<% @todo_items.each do |todo_item| %>
				<li class="incomplete">
					<form action="/lists/@list[:id]/todo/todo[:id]/toggle" method="post" class="check">
		 				<input type="hidden" name="completed" value= <%= !todo_item.completed? %> />
		  				<button type="submit">Complete</button>
					</form>

					<h3><%= todo_item.name %></h3>
				  <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item), method: :delete, class: "delete", data: { confirm: "Are you sure?" } %>
				
				</li>
		<% end %>
		</ul>
	</section>


<%= form_for [@todo_list, @todo_list.todo_items.build] do |f| %>
  <%= label_tag 'name', 'Enter a new todo item:'%> 
  <%= f.text_field :name, value: "" %>
  
  <%= field_set_tag nil, class: "actions" do %>
    <%= f.submit "Save" %>
    
    <%= link_to "Cancel", root_url %>
  <% end %>
<% end %>


