<% content_for :header_actions do %>
  <%= link_to "All Lists", root_url, class: "list" %>
<% end %>

<section id="todos", class="<%= list_status_class(@todo_list) %>">	
		<header>
			<h2><%= @todo_list.name %></h2>
			<ul>
				<li>
				  <%= link_to "Complete All", todo_list_complete_all_path(@todo_list), 
				                              method: :patch, 
				                              class: "check" %>
				</li>	
				<li>
				  <%= link_to "Edit list", edit_todo_list_path(@todo_list), class: "edit" %>
				</li>
			</ul>
		</header>

		<ul>
			<% @todo_items.each do |todo_item| %>
				<li class="todo-item <%= todo_item.completed? ? "complete" : "incomplete" %>">
				  <%= link_to nil, todo_list_todo_item_toggle_url(@todo_list, todo_item), method: :patch, class: "check" %>
					<h3 class="item"><%= todo_item.name %></h3>
				  <%= link_to "Delete", todo_list_todo_item_path(@todo_list, todo_item), method: :delete, class: "delete", data: { confirm: "Are you sure?" } %>
				</li>
		<% end %>
		</ul>
	</section>

<%= render 'todo_items/form' %>



